.cl-admin {
    display: grid;
    grid-template-columns: auto; /* Definindo as colunas do grid, onde a segunda coluna (1fr) ocupará o espaço restante */
}

.cl-admin> .cl-wrapper{
    margin: var(--home-wrapper);
    position: relative;
    height: calc(100vh - 75px);
    width: calc(100% - 320px);
}

.cl-admin> .cl-wrapper> .main-content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}