.doctor-register{
    background-color: var(--cl-color-primary-dark);
    min-height: 100vh;
}

.doctor-register> .cl-wrapper> .main-content{
    width: var(--cl-main-wrapper);
    padding: 100px 84.5px 0px 84.5px;
    margin: 0 auto;
    background-color: var(--cl-color-primary-dark);
}

.doctor-register> .cl-wrapper> .main-content> .content> .main-title{
    width: auto;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
}

.doctor-register> .cl-wrapper> .main-content> .content> .main-title> .up{
    font-family: var(--cl-font-family-base);
    font-size: 50px;
    font-weight: 800;
    width: auto;
    margin: 0 auto;
    caret-color: transparent;
    color: var(--cl-color-gray-lighter);
    margin-top: 40px;
}

.doctor-register> .cl-wrapper> .main-content> .content> .steps{
    font-weight: 600;
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--cl-color-primary);
    margin-top: 20px;
    caret-color: transparent;
    margin-left: 70px;
}

.original-line,
.original-line.-clone{
    height: 34px;
    margin-bottom: 5px;
}