.main-content {
    display: flex;
    justify-content: center;
}

.cl-patient {
    display: grid;
    grid-template-columns: auto; /* Definindo as colunas do grid, onde a segunda coluna (1fr) ocupará o espaço restante */
}

.cl-wrapper{
    margin: var(--home-wrapper);
    position: relative;
    height: calc(100vh - 75px);
    width: calc(100% - 300px);
}

