.cl-button> .btn-link:hover{
    background-color: var(--cl-color-primary-light);
}

.cl-button{
    padding-top: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cl-button> .btn-link{
    background-color: var(--cl-color-primary);
    font-family: var(--cl-font-family-base);
    color:  var(--cl-color-gray-lighter);
    font-size: 28px;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 1s;
    left: 0;
    cursor: pointer;
    margin: 0 auto;
    caret-color: transparent;
}

/* -- register.html -- */

.cl-button.-register> .link{
    background-color: var(--cl-color-primary);
    font-family: var(--cl-font-family-base);
    color:  var(--cl-color-gray-lighter);
    font-size: 20px;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    height: 60px;
    width: 350px;
    justify-content: center;
    align-items: center;
    transition: 1s;
    left: 0;
    margin: 0 auto;
    cursor: pointer;
    caret-color: transparent;
}

.cl-button.-register> .link:hover{
    background-color: var(--cl-color-primary-light);
}

.cl-button.-patient> .btn-link{
    background-color: var(--cl-color-primary);
    font-family: var(--cl-font-family-base);
    color:  var(--cl-color-gray-lighter);
    font-size: 26px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    height: 80px;
    width: 450px;
    transition: 1s;
    left: 0;
    cursor: pointer;
    margin-top: 30px;
    caret-color: transparent;
    margin: 0 auto;
}

.cl-button.-patient> .btn-link:hover{
    background-color: var(--cl-color-primary-light);
}


.cl-button.-add-solution{
    cursor: pointer;
    height: 20px;
    padding: 0;
    width: 20px;
    font-size: 15px;
    background-color: var(--cl-color-primary);
    border-radius: 5px;
    color: var(--cl-color-gray-lighter);
    font-weight: 600;
}