.cl-sidebar {
    background-color: var(--cl-color-primary-dark);
    width: 300px;
    height: 100vh;
    position: absolute;
}

.cl-sidebar> .image-wrapper{
    background-color: var(--cl-color-gray-lighter);
}

.cl-sidebar> .image-wrapper> .image{
    caret-color: transparent;
    height: 70px;
    width: 250px;
}

.cl-sidebar > .nav-links{
    margin-left: 20px;
    padding-top: 60px;
}

.cl-sidebar > .nav-links > li {
    font-family: var(--cl-font-family-base);
    font-weight: 500;
    font-size: 16px;
    color: var(--cl-color-gray-lighter);
    text-decoration: none;
    caret-color: transparent;
    list-style-type: none;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.cl-sidebar > .nav-links > li > span {
    font-size: 30px;
    margin-right: 20px;
}

.cl-sidebar > .nav-links > li > a {
    font-family: var(--cl-font-family-base);
    font-weight: 500;
    font-size: 18px;
    color: var(--cl-color-gray-lighter);
    text-decoration: none;
    caret-color: transparent;
    transition: all 0.3s ease 0s;
    margin: auto 0;
    cursor: pointer;
}

.cl-sidebar> .nav-links li a:hover {
    color: var(--cl-color-primary);
    text-decoration: underline;
}