.my-appointments {
    padding: 0px 20px 20px 20px;
}

.my-appointments> h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
    color: var(--cl-color-primary-dark);
    font-size: 60px;
}


.my-appointments > .form-appointments> .search-input{
    margin-bottom: 20px;
    display: inline-block;
}

.my-appointments > .form-appointments> .search-input> label {
    display: block;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}

.my-appointments > .form-appointments> .search-input> input{
    width: 350px;
    height: 34px;
    border: 2px solid var(--cl-color-gray-light);
    border-radius: 5px;
    background-color: var(--cl-color-gray-lighter);
}

.my-appointments > .form-appointments> .search-button{
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 1.7px;
}

.my-appointments > .form-appointments> .search-button> .search {
    background-color: var(--cl-color-primary);
    color: var(--cl-color-gray-lighter);
    border-radius: 5px;
    font-weight: 400;
    padding: 4px;
    cursor: pointer;
    height: 36px;
    width: 36px;
}

.my-appointments > .form-appointments> .search-button> .search > span {
    display: inline-block;
    vertical-align: middle;
    caret-color: transparent;
}

.my-appointments > .form-appointments> .search-button> .search > h3 {
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
    font-family: var(--cl-font-family-base);
    caret-color: transparent;
    vertical-align: middle;
    caret-color: transparent;
}

.my-appointments > .appointments{
    margin-top: 20px;
}

.my-appointments > .appointments> .content{
    border-left: 4px solid var(--cl-color-primary);
    margin-bottom: 30px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 22px;
    font-family: var(--cl-font-family-base);
    color: var(--cl-color-primary-dark);
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.my-appointments > .appointments> .content:hover{
    font-size: 24px;
}

.my-appointments > .appointments> .content> ul{
    margin-bottom: 10px;
}

.select-custom.-appointments> label{
    display: block;
}

.my-appointments > .appointments> .content> .open-popup{
    color: var(--cl-color-primary);
}