.cl-exams{
    margin-top: 50px;
}

.cl-exams > .form-box {
    display: grid;
    justify-content: center;
    width: auto;
}

.cl-exams > .title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: var(--cl-color-primary-dark);
    font-size: 60px;
}

.cl-exams> .form-box> .specialty{
    font-size: 22px;
    font-family: var(--cl-font-family-base);
    font-weight: 500;
    margin-bottom: 20px;

}

.cl-exams> .form-box> .exam{
    margin-bottom: 20px;
}

.cl-exams .form-box > .exam > .input {
    width: 300px;
    height: 32px;
    outline: 0;
    border: 2px solid var(--cl-color-gray-light);
    border-radius: 5px;
    margin-left: 9px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--cl-font-family-base);
}

.cl-exams> .form-box> .from-the-hour> .input{
    background-color: var(--cl-color-gray-lighter);
    width: 142px;
    height: 32px;
    outline: 0;
    border: 2px solid var(--cl-color-gray-light);
    border-radius: 5px;
    margin: 0px 0px 8px px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--cl-font-family-base);
}

.cl-exams> .form-box> .from-the-hour{
    margin-bottom: 20px;
}

.cl-exams> .form-box> .from-the-hour> .between{
    font-size: 22px;
    font-family: var(--cl-font-family-base);
    font-weight: 500;
    margin-right: 19px;
    margin-left: 2px;
}

.cl-exams> .form-box> .radio-container> label{
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    padding-top: 3px;
    caret-color: transparent;
}

.cl-exams> .form-box> .radio-container> span{
    font-size: 26px;
}

.cl-exams> .form-box> .radio-container> .radio{
    cursor: pointer;
    margin-bottom: 2px;
    margin-right: 20px;
}

.cl-exams> .form-box> .select-custom.-exam-or-consultation> .doctor-select{
    margin-bottom: 20px;
}

.cl-exams> .form-box> .exam> label,
.cl-exams> .form-box> .select-custom.-exam-or-consultation> .doctor-select> label{
    font-size: 22px;
    font-family: var(--cl-font-family-base);
    font-weight: 500;
    margin-bottom: 8px;
}


.cl-exams> .form-box> .select-custom.-exam-or-consultation> .doctor-select> select{
    background-color: var(--cl-color-gray-lighter);
    width: 300px;
    height: 32px;
    outline: 0;
    border: 2px solid var(--cl-color-gray-light);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--cl-font-family-base);
    margin-left: 4px;
}


::-webkit-input-placeholder {
    color: var(--cl-color-gray);
}

:-moz-placeholder {
    color: var(--cl-color-gray);  
}

::-moz-placeholder {
    color: var(--cl-color-gray);  
}

:-ms-input-placeholder {  
    color: var(--cl-color-gray); 
}